* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
   
    background: white;
  }
  
  :root {
    font-size: 100%;
  }
  

  #menu {
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:#707070;
    font-size: 1rem;
    padding: 5px 0px;
}

#menu div {
  display: flex;
  margin: 0 10px;
  
}

#menu div span{
   margin: 0 2px;
   
}


#logo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  font-style: italic;
  align-items: center;
}

#logo div h5 {
  color: #727B7A;
  margin: 5px 0;
  font-size: 16pt;
}

#logo div h3 {
  color: #DF0209;
  font-size: 26pt;
}

.formulario {
    background: #eeeeee ;
    left: 75vw;
    position: -webkit-sticky;
    position: fixed;
    top: 30%;
    right: 5vw;
    width: 20rem;
    z-index: 100;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
}

.formulario .titulo {
    align-items: center;
    display: flex;
    margin-left: 2.4rem;
    margin-bottom: 1.5rem;
}

.formulario .titulo img {
    margin-right: .7rem;
}

.titulo__texto h3 {
    color: #727B7A;
    font-size: 1rem;
}
    
.titulo__texto h4 {
    color: #DF0209;
    font-size: 1.8rem;
   
}

.formulario label {
    font-size: 0.0001px;
}

.formulario .inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.botao input{
    width: auto;

    background-color: #1CB72A;
    border-style: none;
}

.formulario .inputs .type__input {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario .inputs .type__input input{
    background-color: #eeeeee;
    background-size: 1.2rem;
    background-position: .5rem;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: .3rem;
    border-color: #d5d5d5;
    height: 32px;
    width: 15rem;
    text-indent: 30px;
}

.formulario .inputs .type__input #nome {
    background-image: url("../img//Grupo\ 32.png");
}

.formulario .inputs .type__input #e-mail{
    background-image: url("../img/black-envelope.png");
}

.formulario .inputs .type__input #telefone {
    background-image: url("../img/call-answer.png");
}

.formulario .inputs .type__input #escolha-o-horario {
    background-image: url("../img/clock-circular-outline.png");
}

.formulario .inputs .type__input #escolha-a-unidade {
    background-image: url("../img/maps.png");
}

.formulario .inputs input + label, 
.formulario .inputs input + input
{
    margin-top: .3rem;
}

.botao{
    background-color: #1CB72A;
    border-style: none;
    border-radius: .3rem;
    color: #fff;
    margin-top: .5rem;
    padding: 1rem 3rem;
}




#section2 {
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
}

#section2 .titulo h1 {
  font-size: 34pt;
  font-style: italic;
}

#section2 .imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#section2 .imagens div img {
  width: 1000px;
}

#section2 .imagens .coluna {
  margin-right: 50px;
}

#section2 .imagens .coluna img {
  width: 250px;
}

#section2 .texto{
  width: 1200px;
}

#section2 .texto p{
  font-size: 18pt;
  line-height: 30px;
}



#section3 {
  background-image: url('../img/img7desk.png');
  
  background-position: center;
  display: flex;
  height: 60vh;
  align-items: flex-end;
  justify-content: flex-start;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}

#section3 div {
  color: #ffffff;
  padding: 0 10%;
  width: 100%;
}

#section3 div h1 {
  font-size: 34pt;
  font-style: italic;
}

#section3 div p {
  font-size: 18pt;
  line-height: 30px;
}

.carousel {
  left:100px;
  text-align: center;
  position: relative;
  margin-top: 20px;
}
button.slick-next {
  position: absolute;
  top: 28%;
  right: 3%;
  z-index: 9;
  width: 40px;
  height: 40px;
  font-size: 0pt;
  border-radius: 20px;
  background: url('../img/keyboard-right-arrow.png') center center/13px no-repeat;
}
button.slick-prev {
  position: absolute;
  top: 28%;
  left: 3%;
  z-index: 9;
  width: 40px;
  height: 40px;
  font-size: 0pt;
  border-radius: 20px;
  background: url('../img/chevron-right.png') center center/13px no-repeat;
}
.carousel img {
  width: 100%;
  border: 1px solid #C5C5C5;
  padding: 2%;
  position: relative;
  margin-right: 5px;
}
.slick-slide img {
  display: block;
}
.carousel h3{
  font-size: 20px;
  text-align: left;
  color: #000000;
}
.carousel p{
  text-align: left;
  font-size: 14px;
  color: #000000;
}
  

  .section4{
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
  }
  .section4 h1{
    font-size: 34pt;
    font-style: italic;
  }


.card{
  left:70px;
  margin:30px;
  width: 270px;
  height: 350px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D5D5D5;
  opacity: 1;
}
.card-img-top{
  width: 211px;
  height: 179px;
}
.card .card-text{
  font-size: 14px;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.btn-outline-secondary{
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  opacity: 1;
  width: 230px;
  height: 36px;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.redesocial{
  width: 1366px;
  height: 228px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  opacity: 1;
}
.rede{
  width: 270px;
  height: 80px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DF0209;
  border-radius: 5px;
  opacity: 1;
}
.mini-card{
  text-align: left;
  font-size: 14px;
  font-family: Medium;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 3% 20%;
  }
.card-personalizado{
  text-align: left;
  letter-spacing: NaNpx;
  color: #DF0209;
  opacity: 1;
  margin: 3% 20%;
}

  
.pre-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
}

.text-img{ 
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-img img{
  margin: 20px;
}

.text{ 
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text h2 {
  margin-bottom: 20px;
}

.text img {
  margin-bottom: 20px;
}

footer {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .text-img{ 
      flex-direction: column;
  }

  footer {
      flex-direction: column;
  }

  footer img {
      margin-bottom: 30px;
  }
}


.img-fluid-desk{
  display: block;
}
.img-fluid-mobile{
  display: none;
}

.header-desktop{
  display: block;
}
.header-mob{
  display: none;
}

.contact-form{
  display:block;
}

.contact-form-mobile{
  display: none;
}
.civic{
  display:block;
}
.civic-mobile{
  display:none;
}
.slider-desk{
  display:block;
}
.carousel-mobile p{

  display:none;
}
.slider-mobile{
  display:none;
}

.cards-conheca-mais{
  display: block;
}
.cards-conheca-mais-mobile{
  display:none;
}
/* CSS RESPONSIVO
  -------------------------------------------------- */
  
  @media (max-width: 1000px) {
    /* imagem responsiva*/
    .img-fluid-desk{
      display: none;
    }
    .img-fluid-mobile{
      display: block;
    }

    .header-desktop{
      display: none;
    }
    .header-mob{
      display: block;
         display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40px;
        background: #EEEEEE;
    }

    .header-mob img{
    
        height: 25px;
    }

    .logo-honda .card-img-top {
      margin-bottom: 30px;
     
  }

  .logo-section img {
      margin-bottom: 30px;
  }

  #logo {
    flex-direction: column;
      justify-items: center;
      width: 100%;
      height: auto;
    
     
      
  }
  
  .logo-contato{
    padding: 40px 0;
  }

  .logo-contato div h5 {
    color: #727B7A;
    margin: 5px 0;
    font-size: 16pt;
  
    
   
  }
  
  .logo-contato div h3 {
    color: #DF0209;
    font-size: 26pt;
  }
  


.contact-form{
  display:none;
}

.contact-form-mobile{
  display: block;
}



.formulario-mobile {
  background: #eeeeee ;

  width: 70%;

  
 

  
  margin: 0 auto;
 
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: .5rem;
 
}

.formulario-mobile .titulo {
  align-items: center;
  display: flex;
  margin-left: 2.4rem;
  margin-bottom: 1.5rem;
}

.formulario-mobile .titulo img {
  margin-right: .7rem;
}

.titulo__texto h3 {
  color: #727B7A;
  font-size: 1rem;
}
  
.titulo__texto h4 {
  color: #DF0209;
  font-size: 1.8rem;
 
}

.formulario-mobile label {
  font-size: 0.0001px;
}

.formulario-mobile .inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.botao input{
  width: auto;

  background-color: #1CB72A;
  border-style: none;
}

.formulario-mobile .inputs .type__input {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formulario-mobile .inputs .type__input input{

  background-color: #eeeeee;
  background-size: 1.2rem;
  background-position: .5rem;
  background-repeat: no-repeat;
  border-style: solid;
  border-radius: .3rem;
  border-color: #d5d5d5;
  height: 32px;
  width: 15rem;
  text-indent: 30px;
}

.formulario-mobile .inputs .type__input #nome {
  background-image: url("../img//Grupo\ 32.png");
}

.formulario-mobile .inputs .type__input #e-mail{
  background-image: url("../img/black-envelope.png");
}

.formulario-mobile .inputs .type__input #telefone {
  background-image: url("../img/call-answer.png");
}

.formulario-mobile .inputs .type__input #escolha-o-horario {
  background-image: url("../img/clock-circular-outline.png");
}

.formulario-mobile .inputs .type__input #escolha-a-unidade {
  background-image: url("../img/maps.png");
}

.formulario-mobile .inputs input + label, 
.formulario-mobile .inputs input + input
{
  margin-top: .3rem;
}

.botao{
  background-color: #1CB72A;
  border-style: none;
  border-radius: .3rem;
  color: #fff;
  margin-top: .5rem;
  padding: 1rem 3rem;
}

.coluna{
  display:none;
}
.civic{
  display:none;
}
.civic-mobile{
  display:block;
}
#section2 .titulo h1 {
  font-size: 24pt;
  font-style: italic;
}
.carousel-mobile p{
  text-align: left;
  font-size: 14px;
  color: #000000;
  display:block;
}
.slider-desk{
  display:none;
}
.slider-mobile{
  display:block;
}

.cards-conheca-mais{
  display: none;
}
.cards-conheca-mais-mobile{
  display:block;
}


}




  